<% provide(:title, @taxon.name) %>
<%= render partial: 'potepan/categories/light_section', locals: { taxon: @taxon } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <% @taxonomies.each do |taxonomy| %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= taxonomy.name %></div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <ul class="nav navbar-nav side-nav">
                  <% taxonomy.taxons.each do |taxon| %>
                    <% if taxon.depth.eql?(1) %>
                      <% if taxon.children.blank? %>
                        <li>
                          <%= link_to potepan_category_path(taxon.id) do %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %><span>(<%= taxon.products.count %>)</span>
                          <% end %>
                        </li>
                      <% else %>
                        <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxon.name %>"><%= taxon.name %><i class="fa fa-plus"></i></a>
                          <ul id="<%= taxon.name %>" class="collapse collapseItem">
                            <% taxon.children.each do |taxon_child| %>
                              <li>
                                <%= link_to potepan_category_path(taxon_child.id) do %>
                                  <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon_child.name %><span>(<%= taxon_child.products.count %>)</span>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">色から探す</div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li><a href="#">ブラック<span>(15)</span></a></li>
              <li><a href="#">ホワイト<span>(10)</span></a></li>
              <li><a href="#">レッド<span>(7)</span></a></li>
              <li><a href="#">ブルー<span>(12)</span></a></li>
              <li><a href="#">オレンジ<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default filterNormal">
          <div class="panel-heading">サイズから探す</div>
          <div class="panel-body">
            <ul class="list-unstyled clearfix">
              <li><a href="#">S<span>(15)</span></a></li>
              <li><a href="#">M<span>(10)</span></a></li>
              <li><a href="#">L<span>(7)</span></a></li>
              <li><a href="#">XL<span>(12)</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort_product'%>
        <div class="row">
          <%= render partial: "product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
